@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --azul-coisado: #134074ff;
    --azul-mais-coisado: #13315cff;
    --azulingles: #0b2545ff;
    --jinx: #8da9c4ff;
    --creme-de-menta: #abc9a6;
    --branco: #F6F1E9;
    --preto: #000000;
    --titulo: "Audiowide", sans-serif;
    --texto: "Space Mono", monospace;
}

body {
    background-color: var(--jinx);
    font-family: var(--texto);
    margin: 0px;
}

header {
    background-color: var(--azul-coisado);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;

}

.menu {
    display: flex;
    list-style: none;
    gap: 36px;
    font-size: 20px;
    font-family: var(--titulo);
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    color: var(--azulingles);

}

.menu a:hover {
    color: var(--preto);
    transition: 0, 5;
}


.capa {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center
}

.LOGO img {
    width: 100px;
}


.capa img {

    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.apresentacao {
    font-family: var(--titulo);
    text-align: center;
    margin: 30px 0;
}

.apresentacao h2 {
    color: var(--branco);
    font-size: 50px;

}

.apresentacao p {
    color: var(--preto);
    font-size: 25px;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 5px;

}

.sobre div {
    width: 40%;
}

.sobre-img img {
    width: 60%;
}

.sobre h2 {
    font-family: var(--titulo);
    font-size: 44px;
    color: var(--preto);

}

.sobre p {
    font-size: 17px;
    color: var(--preto);
}

footer{
    background-color: var(--azulingles);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--creme-de-menta);
    font-size: 18px;
}



/* proutos */

.serviços{
    padding: 40px 0;
    text-align: center; 
}

.serviço h2{
    font-family: var(--titulo);
    font-size: 80px 0;
}
.lista-serviços{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
 
    

.serviço{
    background-color: var(--azulingles);
    width: 27%;
    padding: 20px;
    border-radius: 10px;
}

.serviço img{
    width: 100%;
    border-radius: 10px;
}

.serviço p{
    font-family: var(--titulo);
}

.serviço h3{
    font-family: var(--titulo);
    color: var(--creme-de-menta);
}

.serviço button{
    padding: 10px 24px;
    font-family: var(--texto);
    background-color: var(--jinx);
    border: none;
    border-radius: 12px;
}

.serviço button:hover {
    background-color: var(--creme-de-menta);
}